
@mixin content ($w,$h){
    height: $h;
    width: $w;
    padding: 2rem;
    background-color: $white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

