// Imports
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

// Colors
$red-bad:#EA8282;
$green-good:#60BF88;
$purple:#9094DE;
$orange:#F9A826;
$dark-blue:#2F527B;
$white:#FFFFFF;

// Fonts
$main-font:'Poppins', sans-serif;

// font-weight
$fw-light:200;
$fw-regular:400;
$fw-semibold:600;

// size
html{
    font-size: 62.5%;
}
