@import "../../styles/components/config";

.answer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95%;
    height: 6rem;
    margin-bottom: 2rem;
    &.bad{
        color: $white;
        background-color: $red-bad;
        border: none;
    }
    &.good{
        color: $white;
        background-color: $green-good;
        border: none;
    }
}