body{
    background-image:url(../public//assets/background.png) ;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}