@import "components/btn";
@import "components/config";
@import "components/container";

body{
    background-image:url(../public//assets/background.png) ;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    overflow: hidden;
    font-family: $main-font;
    font-size: 1.6rem;
}
h1,h2,h3,h4{
    color: $dark-blue;
    font-weight: $fw-bold;
    text-align: center
}
.btn {
    @include Btn(150px,40px);
    transition: transform .3s ease-in-out;
    &:hover{
        transform: scale(1.1);
    }
    &.disabled{
        background-color: initial;
        cursor: initial;
        border: 1px solid gray
    }
    &.btn-primary{
        @include primaryBtn();
    }
    &.btn-secondary{
        @include secondaryBtn();
    }
}
.center-column{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.main-container{
    height: 100vh;
}
.main-content{
    margin-left: auto;
    margin-right: auto;
    @include content(55rem,auto);
    @include responsive(768px){
        @include content(90%,60vh);
    }
}